---
import { Translate } from "astro-localization";

interface Props {
	id?: string; // Id for the <section> element
	className?: string; // Classes to add to <section> element
	alt?: boolean; // Add alt class to <section> element
	container?: boolean; // Add container class
}

const { id = false, class: className = "", alt = false, container = true } = Astro.props as Props;
---

<section {id} class={`empty-section ${className} ${alt ? "alt" : ""}`.trim()}>
	<div class={`${container ? "container" : ""}`.trim()}>
		<slot />
	</div>
</section>
