---
import { Translate } from "astro-localization";

interface Props {
	className: string;
	alt: boolean;
	id?: string;
	container?: boolean;
	lmap: Object;
}

const { id = false, class: className = "", alt = false, container = true, lmap = {} } = Astro.props as props;
---

<section {id} class={`empty-section ${className} ${alt ? "alt" : ""}`}>
	<div class={`${container ? "container" : ""}`}>
		<slot />
	</div>
</section>
